header{
    background-color: black;
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
}

.titlePrincipal{
    text-align: center;
    font-size: 100px;
    color: rgb(245, 119, 119);
}

.logoHeader{
    height: 100px;
    width: 100px;
}

h1{
    font-size: 70px;
    margin: 0%;
    color: brown;
    background-color:  blanchedalmond;
}

body{
    background-color: rgba(155, 253, 123, 0.95);
    height: 100%;
    margin: 0%;
    background-image: url(../img/littleHoodAndWolf.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.textStory{
    background-color: rgba(0, 0, 0, 0.79);
    margin: 80px;
    font-size: 40px;
    text-align: justify;
}

.divTable{
    display: flex;
    margin: 50px;
}

.imgFrontPage{
    margin: 50px;
}

.textParagraph{
    margin: 50px;
    color: blanchedalmond;
}

.textEnd{
    font-size: 60px;
    text-align: center;
    color: blanchedalmond;
}

footer{
    background-color: brown;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}

.logosFooter{
    border-radius: 50px;
    height: 60px;
    width: 60px;
   
}

.textCopyright{
    color: azure;
    border-radius: 20px;
    font-size: 30px;
}
