header{
    background-color: black;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.titlePrincipal{
    text-align: center;
    font-size: 40px;
    color: rgb(245, 119, 119);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logoHeader{
    height: 35px;
    width: 35px;
}

h1{
    font-size: 25px;
    margin: 0% auto;
    color: blanchedalmond;
    background-color: rgba(165, 42, 42, 0.874);
    height: 35px;
}

body{
    margin: 0 auto;
    background-image: url(../img/littleHoodAndWolf.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.textStory{
    background-color: rgb(141, 227, 112);
    margin: 20px;
    font-size: 15px;
    text-align: justify;
}

.divTable{
    display: flex;
    margin: 30px;
}

.imgFrontPage{
    margin: 15px;
    height: 50%;
    width: 50%;
}

.textParagraph{
    margin: 40px;
}

.textEnd{
    font-size: 30px;
    text-align: center;
}

footer{
    background-color: brown;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

.logosFooter{
    margin: 30px;
    height: 40px;
    width: 40px;
}

.textCopyright{
    color: azure;
    font-size: 10px;
}